<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<ul>
	<li><a href="/lightbox">Lightbox Video Wall View</a></li>
	<li><a href="/courtyard/1">Courtyard Digital Signs View</a></li>
</ul>

<p>Append ?object=OBJECT_ID to either link to change the object. You'll find object IDs at the end of the URL for every object page found through <a href="http://www.harvardartmuseums.org/collections">http://www.harvardartmuseums.org/collections</a>.</p>
